body {
  font-family: "Roboto";
  box-sizing: border-box;
  background-image: url("https://m.media-amazon.com/images/I/71dVlV1MDLL._AC_SX679_.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: top; 
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.title,
.subtitle {
  font-size: 2rem;
  color: white;
  text-align: center;
}


.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }


input {
  margin-top: 5px;
  padding: 0.5em 0.5em;
  box-sizing: border-box;
  font-size: 1rem;
  opacity: 0.8;
  border: none;
  border-radius: 200px;
  cursor: pointer;
}
::placeholder {
  color: green;
  font-weight: bold;
  text-align: center;
}
button {
  width: 100px;
  margin-top: 40px;
  padding: 0.5em 0.5em;
  font-size: 1rem;
  border-radius: 200px;
  border: 4px;
  outline: none;
  cursor: pointer;
  color: white;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(74,195,156,1) 23%, rgba(208,203,24,0.6923144257703081) 100%);
}
.hidden{
  display: none;
}
