body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
  background-image: url(https://i.pinimg.com/736x/29/ef/47/29ef47bcf83177a594b65a42589170a5.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}


.title, .subtitle{
  font-size: 2rem;
  color: white;
  margin-left: 20px;
  margin-top: 40px;
}
form{
  width: 250px;
  margin-left: 20px;
  margin-top: 50px;
}

input {
  margin-top: 5px;
  width: 50%;
  padding: 0.5em 0.5em;
  box-sizing: border-box;
  font-size: 1rem;
  opacity: .8;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  
}
::placeholder{
  color: green;
  font-weight: bold;
}
button {
  margin-left: 20px;
  margin-top: 30px;
  padding: 0.5em 0.5em;
  font-size: 1rem;
  width: 150px;
  border-radius: 200px;
  border: 4px;
  outline: none;
  cursor: pointer;
  color: white;
  
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(240,31,46,0.9528186274509804) 100%);
}
